[submodule "extern/freetype"]
	path = extern/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "extern/sdl"]
	path = extern/sdl
	url = https://github.com/libsdl-org/SDL.git
